doctype html  
html(lang='en')  
	
	head
		title Login
	
	body
		h1 Collections
		div.container
		a(href = "/") Home 

		br
		a(href = "/collection/users") Users
		br
		a(href = '/collection/chats') Chats
		


script(src = "https://code.jquery.com/jquery-1.11.1.js")